.container {
  position: relative;
}

.floatingIsland {
  width: 760px;
  height: 460px;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background-container {
  position: relative;
  width: 760px; /* Adjust the width of your background image container */
  height: 460px; /* Adjust the height of your background image container */
  background-image: url("../modules/images/floating_island.png"); /* URL to your background image */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.random-images {
}

.random-image {
  position: absolute;
  height: 80px; /* Adjust the width of your images */
  width: auto; /* Adjust the height of your images */
  display: none;
}

.panpan1 {
  position: absolute;
  left: 460px;
  top: 130px;
  width: auto;
  height: 130px;
}

.mochabear1 {
  position: absolute;
  left: 920px;
  top: 130px;
  width: auto;
  height: 130px;
}
.pusheen1 {
  position: absolute;
  left: 750px;
  top: 110px;
  width: auto;
  height: 180px;
}
.mochicat1 {
  position: absolute;
  left: 700px;
  top: 40px;
  width: auto;
  height: 120px;
}
