.container {
  position: relative;
}

.bird {
  width: 90px;
  height: auto;
  margin-left: 30%;
}

.floatingIsland {
  width: 760px;
  height: 460px;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background-container {
  position: relative;
  width: 760px; /* Adjust the width of your background image container */
  height: 460px; /* Adjust the height of your background image container */
  background-image: url("../modules/images/floating_island.png"); /* URL to your background image */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.random-images {
}

.random-image {
  position: absolute;
  display: none;
  height: 80px; /* Adjust the width of your images */
  width: auto; /* Adjust the height of your images */
}

.cat-image {
  position: absolute;
  height: auto;
  width: auto; /* Adjust the height of your images */
  left: 0;
  bottom: 0;
}

.cat-info {
  position: absolute;
  right: -96px;
  top: -72px;
  width: 100px;
  height: 64px;
  padding: 8px;
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: white;
}

.audio-player {
  display: none;
}
