@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

.NavBar{
  float: right;
}

.NavBar-container {
  /* margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;

    height: 300px;
    width: 60px;
    left: 5%;
    background-color: #967bb6; /* Black*/
  /* overflow-x: hidden;
    border-radius: 10px; */
  height: 50px;
  width: 200px;
  line-height: 70px;
  border-color: black;
  /* float: right; */
  display: inline-block;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-title-red {
  color: #ffa4a4;
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--s);
}

.NavBar-link,
.NavBar-link:visited {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-login {
  width: 200px;
  display: inline-block;
  /* margin-top: var(--s); */
  font-family: "Dosis", sans-serif;
  font-size: large;
  color: white;
  text-align: right;
  vertical-align: bottom;
  height: 50px;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
